/* You can add global styles to this file, and also import other style files */
nav a,
nav a:active,
nav a:visited {
  margin: 0 10px;
  text-decoration: none;
  color: #181818;
  cursor: pointer;
  font-weight: 700;
}

nav a.active {
  color: blue;
}

nav a.active.current {
  color: rgb(137, 137, 255);
}
